# Ignore Visual Studio temporary files, build results, and cache

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache files
.vs/
*.vspscc
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vsidx

# Others
*.dbmdl
*.bak
*.backup
*.log
*.cache
*.config
*.ide
*.orig

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Windows image file caches
Thumbs.db
ehthumbs.db

# Installer files
*.cab
*.msi
*.msm
*.msp

# Package directories
*.nuget/
packages/
